@charset "utf-8";
@import "util/base";


.viewport{
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    margin-bottom: 60px;
    transition :transform 12s;
}
h1{
	color:red;
	line-height:20px;
}