<div class="search">
	<div class="slogan">
		slogan
	</div>
	<div class="search-wrap">
		<span class="search-title">SEARCH</span>
		<div class="search-box">
			<input type="text" placeholder="aaa">
			<a class="search-btn" href="#">搜 索</a>
			<div class="search-tip" style="display:none;">
				<ul>
					<li>
						<span class="late">最近搜索</span>
					</li>
					<li>
						<a href="">哎哟妈呀哎哟妈呀哎哟妈呀哎哟妈呀哎哟妈呀哎哟妈呀哎哟妈呀哎哟妈呀哎哟妈呀</a>
					</li>
					<li>
						<a href="">哎哟妈呀</a>
					</li>
					<li>
						<a href="">哎哟妈呀</a>
					</li>
					<li>
						<a href="">哎哟妈呀</a>
					</li>
					<li>
						<a href="">哎哟妈呀</a>
					</li>
					<li>
						<a href="">哎哟妈呀</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>