@charset "utf-8";
@import "util/var";
@charset "utf-8";

body {
    background-color: #f0f0f0;
    font:12px/1.5 Tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
    min-width: 320px;
    -webkit-text-size-adjust: none;
}
::-webkit-scrollbar {
  display: none;
}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
}
input,textarea,select,button{
    color: #323232;
    font-size: 100%;
    font-family: inherit;
}
img,fieldset {
    border: 0;
}
ul,ol {
    list-style: none;
}
em,i,address {
    font-style: normal;
}
a {
    color: #333;
    text-decoration: none;
}
html,a{
    -webkit-tap-highlight-color: rgba(0,0,0,.2);    // 点击的高亮颜色设置
}
input{
    vertical-align: middle;
}
img {
    border:0 none;
    height: auto; /* 3 */
    max-width: 100%; /* 4 */
    vertical-align: top;/* 5 */
    -ms-interpolation-mode: bicubic; /* 6 */
}

.fc {
    clear: both;
    width: 100%;
}
.fc::after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    content: '';
}
.fc-hl
{
    color:#cc0006;
}
.elps {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.hideMode{
    display: none !important;
}

/*按钮的主要样式*/
.btn-submit{
    display: inline-block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    background-color: #cc0007;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    border: none;
}
.btn-submit:active{
    background-color: #ae0007;
}
.btn-submit:visited{
    color: #fff;
}


