footer {
    position: fixed;
    bottom:0px;
    width: 100%;
    border-top: 1px solid #b3b3b3;
    padding: 7px 0 7px 0;
    background: #fff;
    font-size: 11px;
    a {
        display: inline-block;
        width: 25%;
        text-align: center;
        color: #797e89 !important;
        &:before {
            display: inline-block;
            content: ' ';
        }
        &:nth-child(1):before {
            @include sprite_2x($icon_nav_home);
        }
        &:nth-child(2):before {
            @include sprite_2x($icon_nav_type);
        }
        &:nth-child(3):before {
            @include sprite_2x($icon_nav_cart);
        }
        &:nth-child(4):before {
            @include sprite_2x($icon_nav_user);
        }
    }
}